@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
}
<div class="row">
    <div class="col-md-8">
        <section>
            <form method="post" role="form" class="form-horizontal">
                @Html.AntiForgeryToken()
                @*<div class="form-group">
                        <label asp-for="LoginModel.Username" class = "col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="LoginModel.Username" class="form-control" />
                            <span class="alert-danger" asp-validation-for="LoginModel.Username"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="LoginModel.Password" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="LoginModel.Password" class="form-control" />
                            <span class="alert-danger" asp-validation-for="LoginModel.Password"></span>
                        </div>
                    </div>*@

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button asp-page-handler="LogIn" class="btn btn-default">Log in</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>  